/*********************************************************************************************/
/************  show_fr_ville.html.twig  ***************************************************/
/*********************************************************************************************/
@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
        float: left;
        width: 25%;
        max-width: 100%; 
    }
    .carousel-multi-item-2 .card img {
        border-radius: 2px; 
    }
}


/*********************************************************************************************/
/************  show_fr_category.html.twig  ***************************************************/
/*********************************************************************************************/

div .titreVilleFr
{
    background-image: url(../image/fr/image_titre.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    background-color: brown;
}
