{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div id="earth_div"></div>


<footer>

    <div class="icon-box">
        <button class="btnrs youtube"><i class="fab fa-youtube icon"></i></button>
        <button class="btnrs facebook"><i class="fab fa-facebook-f icon"></i></button>
        <button class="btnrs instagram"><i class="fab fa-instagram icon"></i></button>
        <button class="btnrs twitter"><a><i class="fab fa-twitter"></i></a></button>
    </div>
</footer>



{% endblock %}
