{% extends 'base.html.twig' %}

{% block title %}Découvrir la France !{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-4">Découvrir la 
        <span class="text-primary"><b>Fr</b></span><span class="text-white"><b>an</b></span><span class="text-danger"><b>ce</b></span> 
    </h1>
    
    <!-- NavBar selection villes Fr -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choisir une ville
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for data in ville %}
                        <a class="dropdown-item" href="{{ path('villeFr', {'id': data.id }) }}"> {{ data.title }} </a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="Recherche" placeholder="Recherche" aria-label="Recherche">
            </form> -->
        </div>
    </nav>
     <!-- /// fin /// NavBar selection villes Fr -->

    <!--  DEBUT CAROUSEL -->

    <div id="carouselFr row" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" style="height: 50vh;">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../image/fr/fr_banniere2.jpg"><rect width="100%" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="./image/fr/fr_luberon.png"><rect width="100%" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="./image/fr/fr_val.png"><rect width="100%" alt="Third slide">
            </div>
        </div>
    </div>

    <!-- FIN  CAROUSEL -->
    <br>

    <!-- Three columns of text below the carousel -- 3 cercles  -->
    <div class="row justify-content-around">
        <div class="col-lg-3 text-center">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="../image/fr/fr_flag.png" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

            <h2>Drapeau</h2>
            <p>Emblème national de la 5ème République, le drapeau tricolore est né sous la Révolution française.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
            <img class="bd-placeholder-img rounded-circle" width="150" height="140" src="../image/fr/fr_devise.png" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
            
            <h2>Devise</h2>
            <p>Liberté, Egalité, Fraternité. Cette devise est représentée par une femme Marianne que l'on retrouve sur les timbres, la monnaie et son buste est présent dans les mairies.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>  -->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
            <img class="bd-placeholder-img rounded-circle" width="160" height="140" src="../image/fr/fr_coq.jpg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>

            <h2>Animal</h2>
            <p>Le Coq était le symbole de la Gaulle et des Gaullois, il est devenu celui de la République.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>  -->
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="row ml-5 mr-5">
        <h2>La France c'est :</h2>
        <p>Fierté du peuple français, la culture française mérite d'être découverte étant donné sa grande richesse. La richesse de la culture française est en partie due à sa diversité. En effet, la France est divisée en de nombreuses régions ayant chacune des spécialités propres.</p>  
        <p>Encore maintenant, la culture française influence le monde entier, que ce soit par sa littérature ou ses philosophes ou encore par sa gastronomie ou sa haute couture.</p>
        <p>La culture française est ce qu'elle est aujourd'hui grâce à la naissance de la langue française et à l'enrichissement provenant des autres cultures. Aujourd'hui, face à la mondialisation, la France tente de conserver les richesses de sa culture.</p>
        <p>C'est dans les différentes Académies françaises que la culture française est développée et enseignée: Académie des Beaux-Arts, Académie de musique et de danse...</p>
    </div>

    <hr class="w-75">

    <div class="row mb-4 ml-4 justify-content-between">
        <div class="col-md-3 text-center">
            <img src="../image/fr/fr_carte_couleur.png" height="210" alt="carte de France">
        </div>
        <div class="col-md-9">
            <h2>La langue française</h2>
            <p>Le français, langue officielle de la France tient son origine du latin, du grec et d'autres langues vernaculaires. Au dix-huitième siècle, le français est la langue officielle dans les cours européennes. Langue officielle du droit et de l'administration, la langue française a encore pris de l'ampleur grâce à la création de l'Académie française. En effet, elle acquiert là un vocabulaire et une grammaire normés.</p>
            <p>Aujourd'hui, le français fait partie des six langues officielles reconnues par les Nations Unies. Elle est également la langue officielle du Vatican et de l'OTAN.</p>
        </div>    
    </div>

    <hr class="w-75">

    <div class="row mb-4 ml-4 justify-content-between">
        <div class="col-md-7 ml-10">
            <h2>La littérature</h2>
            <p>La littérature française est extrêmement riche et mondialement connue et reconnue. L'histoire de la littérature française commence au Moyen Âge avec la littérature courtoise. Poésies et romans se succèdent à cette époque. Rabelais, Rousseau, Montaigne, Racine, Molière, La Fontaine, Voltaire, Diderot et bien d'autres ont contribué à l'essor de la littérature française. Le dix-neuvième siècle possède également ses écrivains célèbres avec des auteurs tels que Zola, Flaubert, Stendhal, Hugo ou encore de Balzac.</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="../image/fr/fr_book.png" height="210" alt="livre">
        </div>
    </div>

    <hr class="w-75">

    <div class="row mb-4 ml-4 justify-content-between">
        <div class="col-md-4 m-0 p-0  text-center" >
            <img src="../image/fr/fr_la-statue-de-la-Seine-à-Versailles.jpg" height="220" alt="bassin Versailles">
        </div>
        <div class="col-md-7">
            <h2>Beaux-arts</h2>
            <p>La France comporte un grand nombre d'illustres artistes peintres qui ont laissé une trace de leur passage dans les nombreux musées du monde entier. Parmi les plus célèbres peintres français, citons Renoir, Van Gogh, Monet, Cézanne, Dégas, Manet, Poussin ou encore Toulouse- Lautrec.</p>
            <p>Auguste Rodin est certainement le plus célèbre des sculpteurs français, avec Bartholdi ou encore Dalou. C'est au dix-neuvième siècle que la France connait une grande production de sculptures. En effet, la bourgeoisie commande de nombreux monuments funéraires ainsi que des statues.</p>
        </div>    
    </div>

    <hr class="w-75">

    <div class="row mb-4 ml-4 justify-content-between">
        <div class="col-md-8">
            <h2>La musique</h2>
            <p>La France comporte un grand nombre d'artistes de variété. La chanson française contribue également à mettre en avant la langue et la culture française. De nombreux artistes se succèdent depuis la fin de la Seconde Guerre mondiale. Citons notamment Gainsbourg, Ferrat, Nougaro, Hallyday, Montand et bien d'autres. La chanson française puise son inspiration dans la poésie et la littérature française. Ainsi, des auteurs tels que Baudelaire, Rimbaud ou encore Verlaine ont été des sources d'inspiration inestimables pour de nombreux artistes.</p>
            <p>La musique classique connait quant à elle des artistes tels que Berlioz, Offenbac ou encore Debussy.</p>
        </div>  
        <div class="col-md-4 m-0 p-0 text-center" >
            <img src="../image/fr/fr_musique.jpg" height="260" alt="Musique">
        </div>  
    </div>

    <hr class="w-75">

    <div class="row mb-4 ml-4 justify-content-between">
        <div class="col-md-5 m-0 p-0 text-center" >
            <img src="../image/fr/fr_louvre-galeriedapollon.jpg" height="250" alt="Musee">
        </div>
        <div class="col-md-7 ">
        <h2>Les musées</h2>
            <p>Les richesses de la culture française sont précieusement gardées dans les différents musées du pays. Les musées français sont consacrés à une grande variété de thèmes.</p>
            <p>C'est tout le patrimoine français qui est conservé au sein des différents musées.</p>
            <p>Parmi les plus célèbres, citons le musée du Louvre. Il figure parmi les plus grand musées de Paris mais aussi du monde. Le musée abrite une grande partie de l'histoire de la France, depuis les rois capétiens jusqu'à aujourd'hui. C'est au musée du Louvre que l'on trouve par exemple la célèbre Joconde de Léonard de Vinci.</p>
        </div>    
    </div>

    <hr class="w-75">

    <div class="row mb-4 ml-4 justify-content-between">
        <div class="col-md-8">
            <h2>La gastronomie</h2>
            <p>Depuis les somptueux banquets du Moyen Âge jusqu'à aujourd'hui, la cuisine française est mondialement réputée et vise à maintenir ses valeurs traditionnelles. La cuisine française est très diversifiée, chaque région ayant ses spécialités.</p>
            <p>La gastronomie française est riche de ces diversités. Parmi les mets les plus réputés, citons le vin et le fromage. La France est en effet reconnue pour ses nombreux cépages.</p>
            <p>La France comporte également de nombreux grands chefs étoilés dont le plus célèbre est sans doute Auguste Escoffier.</p>
        </div>    
        <div class="col-md-4 text-center" >
            <img src="../image/fr/fr_cuisine-gastronomy.png" height="260" alt="produits régionaux">
        </div>
    </div>

    <hr class="w-75">

    <div class="row mb-4 ml-4 justify-content-between">
        <div class="col-md-4 m-0 p-0 text-center" >
            <img src="../image/fr/fr_guide-festivals.jpg" height="200" alt="Festival">
        </div>
        <div class="col-md-7">
            <h2>Les festivals</h2>
            <p>Il existe de nombreux festivals dans les différentes régions de France. Festivals de musique, de théâtre ou encore de cinéma se déroulent chaque année. Le plus célèbre est sans doute le festival de Cannes, qui regroupe chaque année les acteurs les plus en vogue du monde entier.</p>
        </div>    
    </div>
    <br>




{% endblock %}
