{% extends 'base.html.twig' %}

{% block title %}Découvrir Paris !{% endblock %}

{% block body %}



    <button type="button" class="btn btn-dark"><a href="{{ path('fr') }}">Retour</a></button>
    {% if is_granted('ROLE_ADMIN') %}
        <button type="button" class="btn btn-dark"><a href="{{ path('admin') }}">Back Office</a></button>
    {% endif %}  
    
    <div class="titreVilleFr p-0 m-0">
        <div class="display-4 text-center my-4  text-start">
            <h1> Découvrir {{ ville.title }} </h1>
        </div>
    </div>



    <div class="text-center my-4">
        {% for data in category.lieus %}    {# ville.category #}
            <button type="button" class="btn btn-primary text-center my-4"> {{ data.title }} </button>
        {% endfor %}
    </div>

    <div class="text-center my-4">
        <h2>Laissez-vous séduire !</h2>
        <p>Ville de l’amour, capitale de la mode, paradis littéraire… 
            <br>Paris compte de multiples visages. 
            <br>Musées, restaurants, activité, ... 
            <br>Venez côtoyer les habitués d’un authentique marché français, 
        </p>
    </div>




{% endblock %}