{% extends 'base.html.twig' %}

{% block title %}Découvrir Paris !{% endblock %}

{% block body %}


<div class="container">
    <h1 class="display-4 text-center my-4">Découvrir Paris<h1>



    <h2>titre</2>
    <p>Ville de l’amour, capitale de la mode, paradis littéraire… 
    Paris compte de multiples visages. 
    Si l’entrée des musées est parfois excessive et les bons restaurants se monnayent, la capitale française peut aussi s’avérer bon marché. 
    Que vous ayez un gros faible pour les clochers ou une envie soudaine de côtoyer les habitués d’un authentique marché français, 
    laissez-vous séduire !
    </p>





</div>
{% endblock %}