{% extends 'base.html.twig' %}

{% block title %}Découvrir Paris !{% endblock %}

{% block body %}


<div class="container">
    <button type="button" class="btn btn-dark"><a href="{{ path('fr') }}">Retour</a></button>   {# {{ path('fr') }}" #}
    
    <div class="row titreVilleFr">

        <div class="col-md-6 display-4 text-center my-4  text-start">

            <h1> Découvrir {{ ville.title }} </h1>
        </div>
    </div>



    <div class="text-center my-4">
        {% for data in category %}
            <button type="button" class="btn btn-primary text-center my-4"> {{ data.title }} </button>
        {% endfor %}

    </div>

    <h2>Laissez-vous séduire !</h2></p>
    <p>Ville de l’amour, capitale de la mode, paradis littéraire… 
        <br>Paris compte de multiples visages. 
        <br>Musées, restaurants, activité, ... 
        <br>Venez côtoyer les habitués d’un authentique marché français, 
    </p>



</div>
{% endblock %}